body {
    background: url('/background.webp') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
    color: #00ff99;
}

h1,
h2,
p {
    text-shadow: 0 0 10px #00ff99, 0 0 20px #00ff99, 0 0 30px #00ff99;
}

.container {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px #00ff99;
}

.card {
    background: rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px #00ff99;
    margin-bottom: 20px;
}

.card-body {
    color: #00ff99;
}

ul {
    list-style-type: none;
}

ul li::before {
    content: '» ';
    color: #00ff99;
    text-shadow: 0 0 10px #00ff99;
}

hr {
    border-top: 1px solid #00ff99;
    box-shadow: 0 0 10px #00ff99;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 3em;
    text-shadow: 0 0 10px #00ff99, 0 0 20px #00ff99, 0 0 30px #00ff99;
}

.password-form {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px #00ff99;
}

.alien-input {
    font-size: 1.5em;
    border: 2px solid #00ff99;
    background-color: transparent;
    color: #00ff99;
    text-shadow: 0 0 5px #00ff99;
    text-align: center;
    /* Center-align the text */
}

.alien-input:focus {
    border-color: #00ff99;
    box-shadow: 0 0 10px #00ff99;
}

.alien-button {
    background: #00ff99;
    border: none;
    font-size: 1.5em;
    color: #000;
    box-shadow: 0 0 10px #00ff99;
    margin-top: 20px;
    width: 100%;
}

.alien-button:hover {
    background: #00cc77;
    box-shadow: 0 0 20px #00ff99;
}

.check-button {
    background: #00ff99;
    border: none;
    color: #000;
    font-size: 1em;
    box-shadow: 0 0 10px #00ff99;
    margin-top: 10px;
    display: block;
    width: 100%;
    text-align: center;
}

.check-button:hover {
    background: #00cc77;
    box-shadow: 0 0 20px #00ff99;
}

#error-message {
    display: none;
}

.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

/* Handwritten note styles */
.note {
    font-family: 'Caveat', cursive;
    background: #fff9c4;
    border: 1px dashed #ffa726;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    color: #000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    max-width: 250px;
    /* Restrict the width */
    margin-left: auto;
    /* Align to the right */
}

.note::before {
    content: "✍️";
    position: absolute;
    top: -10px;
    left: -10px;
    font-size: 1.5em;
    color: #ffa726;
}